# fzf shell integration
source <(fzf --zsh)

# Dracula theme
export FZF_DEFAULT_OPTS='
  --color=fg:{{ theme.fg }},bg:{{ theme.bg }},hl:{{ theme.red }}
  --color=fg+:{{ theme.fg }},bg+:{{ theme.selection }},hl+:{{ theme.red }}
  --color=info:{{ theme.purple }},prompt:{{ theme.purple }},pointer:{{ theme.rosewater }}
  --color=marker:{{ theme.cyan }},spinner:{{ theme.rosewater }},header:{{ theme.red }}
'
