export NB_EDITOR="nvim"
export NB_COLOR_PRIMARY={{ theme.nb_primary }}
export NB_COLOR_SECONDARY={{ theme.nb_secondary }}
export NB_SYNTAX_THEME="Dracula"
export NB_DEFAULT_EXTENSION="md"
export NB_HEADER=0
export NB_FOOTER=0
export NB_MARKDOWN_TOOL="bat --style=plain"