# From share.yml (ansible-playbook main.yml --tags tmux)
purple: "{{ theme.purple }}"
orange: "{{ theme.orange }}"
cyan: "{{ theme.cyan }}"
green: "{{ theme.green }}"
yellow: "{{ theme.yellow }}"
pink: "{{ theme.pink }}"
bright_cyan: "{{ theme.bright_cyan }}"
fg: "{{ theme.fg }}"
comment: "{{ theme.comment }}"
comment_bright: "{{ theme.comment_bright }}"
bg: "reset"
pill_fg: "{{ theme.bg }}"
selection: "{{ theme.selection }}"
