ConfigFile = '~/.config/lazysql/config.toml'

[keymap.Editor]
Execute = "F10"
OpenInExternalEditor = "F11"

[application]
DefaultPageSize = 300
DisableSidebar = false
SidebarOverlay = false
MaxQueryHistoryPerConnection = 100
TreeWidth = 30
JSONViewerWordWrap = false

