{
  "showRibbon": false,
  "showViewHeader": false,
  "nativeMenus": true,
  "theme": "obsidian",
  "accentColor": "{{ theme.blue }}",
  "baseFontSizeAction": false,
  "enabledCssSnippets": ["onedark"],
  "textFontFamily": "FiraCode Nerd Font",
  "monospaceFontFamily": "FiraCode Nerd Font",
  "interfaceFontFamily": "FiraCode Nerd Font"
}
