{
  "showRibbon": false,
  "showViewHeader": false,
  "nativeMenus": true,
  "theme": "obsidian",
  "baseFontSizeAction": false,
  "cssTheme": "Catppuccin",
  "enabledCssSnippets": ["oxocarbon"],
  "textFontFamily": "FiraCode Nerd Font",
  "monospaceFontFamily": "FiraCode Nerd Font",
  "interfaceFontFamily": "FiraCode Nerd Font"
}
